<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <title>Admin Home</title>
</head>
<body>

<!-- <header th:replace="admin/layout :: admin-header"></header> -->

<!-- <div th:replace="admin/layout :: admin-nav"></div> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Cinema city world</a>
					<a sec:authorize="!isAuthenticated()" class="navbar-brand" href="#" th:href="@{/login}">Log in</a>
					<a sec:authorize="!isAuthenticated()" class="navbar-brand" href="#" th:href="@{/registration}">Registration</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>

<div class="container text-center">

    <div class="table-responsive" align="center">
        <table class="table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th></th>

            </tr>
            </thead>
            <th:block th:each="user : ${users}">

                <tbody>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/admin/delete/users (userEmail = ${user.getEmail()})}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>

</div>
</body>
</html>